.body-container{
   height: 100%;
   font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  opacity: 0;
  /* transform-origin: bottom;
  transform: scaleY(0); */
  /* animation: expandBodyBottomToTop 1.3s forwards; */
  animation: expandBodyBottomToTop .6s forwards;
}



.body-container-transform {
  /* transform-origin: bottom;
  transform: scaleY(0); */
  opacity: 0;
  animation: expandBodyBottomToTop .6s forwards .7s;
}


.expand-body{
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  animation: expandBodyBottomToTop .6s forwards;

}

@keyframes expandBodyBottomToTop {
  0% {
    opacity: 0;
    
  }
  100% {
   opacity: 1;
  }
}
/* @keyframes expandBodyBottomToTop {
  0% {
    transform: translateY(130%);
    border-top: 1px solid rgb(var(--black));
    
  }
  99% {
    transform: translateY(0%);
    border-top: 1px solid rgb(var(--black));
  }
  100% {
    transform: translateY(0%);
    border-top: none;
  }
} */


.shrink-body {
  height: 100%;
  animation: shrinkBodyTopToBottom .6s forwards;
}

@keyframes shrinkBodyTopToBottom {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* @keyframes shrinkBodyTopToBottom {
  from {
    transform: translateY(0);
    border-top: 1px solid rgb(var(--black));
  }
  to {
    transform: translateY(130%);
    border-top: 1px solid rgb(var(--black));
  }
} */