@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+JP:wght@100..900&display=swap');
.body-container{
   font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  opacity: 0;
  position: relative;
  margin-top: 90px;
  /* z-index: 99;
  background-color: rgb(var(--white)); */
  /* min-height: 100vh; */
  animation: expandBodyBottomToTop 1s forwards;
  padding-bottom: 100px;
}


/* 
.body-container-transform {
  transform-origin: bottom;
  transform: scaleY(0); 
  opacity: 0;
  animation: expandBodyBottomToTop .6s forwards .7s;
}


.expand-body{
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  animation: expandBodyBottomToTop .6s forwards;

} */

@keyframes expandBodyBottomToTop {
  0% {
    opacity: 0;
    
  }

  100% {
   opacity: 1;
  }
}


.shrink-body {
  height: 100%;
  animation: shrinkBodyTopToBottom .6s forwards;
}


@keyframes shrinkBodyTopToBottom {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* @keyframes shrinkBodyTopToBottom {
  from {
    transform: translateY(0);
    border-top: 1px solid rgb(var(--black));
  }
  to {
    transform: translateY(130%);
    border-top: 1px solid rgb(var(--black));
  }
} */


/* about */

.about-image-container{
  padding: 0 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000000); /* Adjust the last value (0.5) for transparency */
    z-index: 1; /* Ensure the overlay is above the image */
}

.about-title-container{
  background-color: rgb(var(--white));
  border-bottom: 1px solid rgb(var(--black));
  position: relative;
  z-index: 9;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 30px 0;
  position: relative;
   overflow: hidden;
   /* font-family: 'Poppins'; */
}
.about-title-container-image{
  align-items: center !important;
}
.about-title{
  font-style: normal;
  font-weight: 100;
  font-size: 7rem;
   white-space: pre-wrap; /* Allow line breaks */
  word-wrap: break-word; 
  line-height: normal;
  background-color: rgb(var(--white));
}

.about-title-word{
  padding-top: 20px;
  background-color: rgb(var(--white));
  opacity: 0;
  animation: fade-in 1s forwards .5s;
}

.image-about-wrap{
  height: 150px;
  width: 200px;
  position: relative;
}
.image-about-wrap::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--white));
  z-index: 2;
  border-radius: 0px;
}

.foto-about{
  width: 100%;
  height: 100%;
  border-radius: 2px;
}



.about-content-container{
   margin-bottom: 200px;
   padding: 0 30px;
  width: 100%;
  position: relative;
}

.about-content-container-2, .about-content-container-3{
  margin-bottom: 100px;
}
.about-content-container .left{
  width: 50%;
}
.about-content-container .right{
  width: 50%;
  padding: 0 20px;
}

.about-subtitle-container{
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.about-subtitle{
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 2px;
  opacity: .7;
  display: inline-block;

}

.about-paragraph{
  margin-top: 40px;
  font-size: 2.5rem;
  letter-spacing: .5px;
  font-weight: 100;
  line-height: 1.1em;
  white-space: pre-wrap !important; /* Allow line breaks */
  word-wrap: break-word !important; 
  text-align: justify;
    text-justify: inter-word;
    hyphens: auto; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.about-paragraph-2{
  margin-bottom: 140px;
}

/* in-view logic */
.in-view{
  visibility: visible;
}

.not-in-view{
 visibility: hidden;
}


/* skills */

.animated-line-container{
  padding: 100px 0;
  background-color: rgb(var(--white));
}
.skills-animated-line{
  height: 1px;
  background-color: rgb(var(--black));
  margin-bottom: 0px;
  
}

.skills-container{
  margin-top: 100px;
  /* display: flex;
  justify-content: space-between; */
   z-index: 9;
   height: 100%;
}

.skills-slider-container{
  margin: 35px 0px 70px 0;
  height: 160px;
}

/* subtitles and hand cursor */

.skills-subtitles-container{

}

.skills-subtitle{
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  font-family: 'Poppins';
   line-height: 1.1em;
}

.cursor, .hand {
    position: fixed;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: transform .1s;
}
/* 
.cursor {
    background: rgb(var(--white));
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 999;

} */

.hand {
    /* background-color: rgb(var(--red)); */
    top: 50%;
    width: 100px;
    height: 100px;
    z-index: 9999;
    display: grid;
    place-content: center;
    transform: rotate(45deg);
    opacity: 1;
}

.hand-arrow{
  width: 120px;
  height: 120px;
  transform: rotate(-45deg);
  color: rgb(var(--red)) !important;
}



.skills-subtitle:nth-child(2){
  margin-left: 30px;
}
.skills-subtitle:nth-child(3){
  margin-left: 60px;
}


.skill-title{
  text-align: left;
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.animated-line-titles{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.1rem;
  background-color: rgb(var(--white));
  overflow: hidden;
  margin-bottom: 10px;
}

.line-title{
  font-weight: 100;
  font-style: italic;
  font-size: 1.3rem;
}

.line-arrows{
}

/* skills list */

.skills-list-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.skills-list-title{
  
}
.skills-arrow{
  transform: rotate(-45deg);
  margin-right: 5px;
}

.skills-list-animation{
  padding: 15px 0;
  overflow: hidden;
}

.single-skill{
  text-transform: uppercase;
  font-weight: 600;
  text-align: right; 
  color: rgb(var(--black));
  margin: 0;
  padding: 0;
  line-height: 0;
  font-weight: 100;
  font-size: 1.3rem;
  color: rgb(var(--red));
}




@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}



.logos-container{
  border-top: 1px solid rgb(var(--red));
  border-bottom: 1px solid rgb(var(--red));
  position: absolute;
  top: 0px;
  left: 0;
  width:calc(100vw - 25vw);
  z-index: 8;
  overflow: hidden;
  color: rgb(var(--red));
  
}

.logos-container-opposite{

  border: none;
  position: absolute;
  top: 34px;
  left: 0;
  width:calc(100vw - 25vw);
  z-index: 9;
  overflow: hidden;
  background-color: rgb(var(--red));
  color: rgb(var(--white));
  height: 0%;
  z-index: 9;
  overflow: hidden;
}

.logos-container-expand{
  border-top: 1px solid rgb(var(--red));
  border-bottom: 1px solid rgb(var(--red));
  position: absolute;
  top: 380px;
  left: 0;
  width:calc(100vw);
  z-index: 8;
  overflow: hidden;
  color: rgb(var(--red));
  animation: expandLogosContainer 1.5s forwards;
}


@keyframes expandLogosContainer {
  from {
    width: 75vw;
  }
  to{
    width: 100vw;
  }
}

.logos-container-shrink{
  border-top: 1px solid rgb(var(--red));
  border-bottom: 1px solid rgb(var(--red));
  position: absolute;
  top: 380px;
  left: 0;
  width:calc(75vw);
  z-index: 8;
  overflow: hidden;
  color: rgb(var(--red));
  animation: shrinkLogosContainer 1.5s forwards;
}


@keyframes shrinkLogosContainer {
  from {
    width: 100vw;
  }
  to{
    width: 75vw;
  }
}


.expand-height-slider { 
  animation: expand-height-slider .5s ease-in-out forwards;
}

.shrink-height-slider { 
  animation: shrink-height-slider .5s ease-in-out forwards;
}


@keyframes expand-height-slider {
  from {
    border: none;
    height: 0%;
    transform: translateY(-50%); /* Start from the center */
  }
  to {
    border-top: 1px solid rgb(var(--red));
    border-bottom: 1px solid rgb(var(--red));
    height: 68px;
    transform: translateY(-50%); /* Maintain center position */
  }
}
@keyframes shrink-height-slider {
  from {
    border-top: 1px solid rgb(var(--red));
    border-bottom: 1px solid rgb(var(--red));
    height: 68px;
    transform: translateY(-50%); /* Start from the center */
  }
  to {
    border: none;
    height: 0%;
    transform: translateY(-50%); /* Maintain center position */
  }
}

/* .logos-container:hover{
  background-color: rgb(var(--red));
  color: rgb(var(--white));
} */

.logos {
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
  display: flex;

    align-items: center;
    white-space: nowrap;
    position: relative;
    height: 100%;
}

/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */

.logos-slider{
  display: flex;
  
}

.logos-slide {
  display: flex;
  animation: 25s slide infinite linear;
}

.slider-skill {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0 40px;
  font-weight: 600;
  font-family: 'Poppins';
}

/* VIEW SKILLS */
.view-more-skills-container{
  width: 50%;
  
}

.svg-parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 250px;
}



.view-more-skills{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.curved-text-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 300px;
}
.curved-text-container svg text{
  fill: rgb(var(--black)) !important;
  font-size: 25px;
  font-family: 'Poppins';
  font-weight: 100 !important;
  z-index: 999999 !important;
}
.curved-text-container svg {
  z-index: 4 !important;
  cursor: pointer;
}
.inner-curved-text-container{
  
}
.inner-circle-curved{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  background-color: rgb(var(--red));
  z-index: 3;
  border-radius: 50%;
  cursor: pointer;
}
.inner-inner-circle-curved{
  width: 90px;
  height: 90px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgb(var(--white));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transform-inner-cirle{
  animation: transformCircle .5s ease-in-out
}

@keyframes transformCircle {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.3);
  }
}


/* ABOUT FOOTER */
.about-bottom{
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 200;

}
.about-footer-conteiner{
  text-transform: uppercase;
  font-size: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
}
.about-footer-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.about-block-text{

}
.about-block-line{
  width: 100%;
  height: .4px;
  background-color: rgb(var(--black));

}
.about-footer-conteiner{

}
.footer-main{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  /* border-top: 1px solid rgb(var(--black));
  border-bottom: 1px solid rgb(var(--black)); */
}

.about-footer-image{
  width: 400px;
  border-radius: 4px;
  /* border: 1px solid rgb(var(--black)); */
}

.my-svg {
  width: 130px; /* New width */
  height: 130px; /* New height */
}
.my-svg3 {
  width: 150px; /* New width */
  height: 150px; /* New height */
}


@media (min-width: 1700px) {
  .about-image-container{
    padding: 0 60px;
  }
  .about-title {
    font-size: 9rem;
}

.single-skill {
  font-size: 1.8rem;
}
.image-about-wrap {
  height: 175px;
  width: 235px;
  position: relative;
}
.about-content-container {
  padding: 0 60px;
}

.about-bottom {
  padding: 0 70px;
}
.about-footer-image {
  width: 500px;
  /* border: 1px solid rgb(var(--black)); */
}
.inner-socials {
  letter-spacing: 1.5px;
  font-size: 2.3rem;
}
}
@media (max-width: 1200px) {
  .about-title {
    font-size: 6rem;
  }
  .image-about-wrap{
    height: 100px;
    width: 150px;
  }
}
@media (max-width: 1170px) {
  .logos-container {
    width: 100vw;
}

.logos-container-opposite{
  width: 100vw;
}
}

@media (max-width: 880px) {
  .about-subtitle {
    font-size: 1.5rem;
}
.about-paragraph {
  font-size: 2rem;
}
 
}

@media (max-width: 799px){
  .socials-mobile-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 30px;
  }
  .inner-socials-mobile{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: .7;
  }
  .github-mobile-icon{
    width: 16px;
    height: 16px;
  }
}


@media (max-width: 780px){
  .about-title {
    font-size: 5rem;
  }
  .image-about-wrap{
    height: 100px;
    width: 150px;
  }
  .about-title-word {
    padding-top: 8px;
}
  .single-skill {
    font-size: 1rem;
}
.about-bottom{
  padding: 0 30px;
}

.about-footer-conteiner {
  font-size: 4.5rem;
  width: 100%;
}
.about-footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
}
.about-footer-image {
  width: 270px;
}

.footer-main{
  padding: 40px 0;

}

.my-svg {
  width: 90px;
  height:90px;
}

.my-svg3 {
  width: 110px;
  height: 110px;
}
}

@media (max-width: 700px){
  .about-subtitle {
    font-size: 1.55rem;
    letter-spacing: 2px;
  }
  .about-paragraph {
    font-size: 1.7rem;
  }

  .single-skill {
    font-size: .85rem;
}

.slider-skill {
  font-size: 1.8rem;

}
.skills-slider-container {
  margin: 35px 0px 30px 0;
}

.expand-height-slider { 
  animation: none;
}

.shrink-height-slider { 
  animation: none;
}
.about-image-container {

  margin-bottom: 130px;
}
.about-content-container {
  margin-bottom: 130px;
}
.about-content-container-2, .about-content-container-3{
  margin-bottom: 0px;
}

}

@media (max-width: 600px){
  .skills-list-container{
    display: none;
  }

  .about-title {
    font-size: 4rem;
  }

  .image-about-wrap {
    height: 80px;
    width: 110px;
}



.about-subtitle {
  opacity: 0;
  font-size: 1.45rem;
}
.about-paragraph {
  opacity: 0;
  font-size: 1.5rem;
}
.about-paragraph-2 {
  margin-bottom: 60px !important;
}


.about-footer-conteiner {
  font-size: 3rem;
}
.about-footer-block {
  width: 90%;
}
.about-footer-image {
  width: 240px;
}

.footer-main{
  padding: 30px 0;

}

.my-svg {
  width: 75px;
  height:75px;
}

.my-svg3 {
  width:90px;
  height: 90px;
}
.skills-slider-container {
  opacity: 0;
}
.about-title-word {
  padding-top: 3px;
}
.animated-icon{
  width: 15px;
  height: 15px;
}
}

@media (max-width: 500px){
  .about-image-container {
    margin-bottom: 90px;
}
  .about-title {
    font-size: 2.5rem;
  }
  .about-title-container{
    padding: 20px 0;
  }

  .image-about-wrap {
    height: 50px;
    width: 80px;
}

.about-subtitle {
  font-size: 1.05rem;
}
.about-paragraph {
  font-size: 1.1rem;
}

.about-content-container {
  margin-bottom: 80px;
}

.slider-skill {
  font-size: 1.3rem;

}

.skills-slider-container {
  margin: 5px 0px 5px 0;
  height: 50px;
}

 .about-content-container-3 {
  margin-bottom: 0px;
}

.about-bottom {
  margin-top: -70px;
  margin-bottom: 40px;
}

.about-footer-conteiner {
  font-size: 2rem;
}

.about-footer-block {
  width: 100%;
}
.about-footer-image {
  width: 160px;
  border-radius: 3px;
}

.footer-main{
  padding: 20px 0;

}

.my-svg {
  width: 55px;
  height:55px;
}

.my-svg3 {
  width:70px;
  height: 70px;
}

.socials-mobile-container{
  margin-top: 50px;
  justify-content: space-between;
}

.inner-socials-mobile{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: .8rem;
  text-transform: uppercase;
}
.github-mobile-icon{
  width: 14px;
  height: 14px;
}


}