.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 999;
}

.text-effect-container {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 50%; /* Initially position it at the center vertically */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Adjust the transform to center it vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes moveToTop {
    0% {
        top: 50%;
        transform: translateY(-50%);
    }
    100% {
        top: 0;
        transform: translateY(0);
    }
}

.set-header {
    /* Keep your existing animation properties */
    animation: moveToTop 1.2s forwards .2s;
}


/* .set-header{
  animation: header-animation 1.2s forwards .2s;

} */

.set-header::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid rgb(var(--black));
  animation: underline 1s forwards; 
} 

 @keyframes underline {
  from {
   bottom: -300px;
  }
  to {

   bottom: 0px;
  }
}





@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.index-container {
  transform: translateY(100%);
  animation: slideInFromBottom 1.2s .1s forwards;
  width: 100%;
  position: fixed;
  height: 90vh;
  margin-top: 10vh;
}