@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Jura:wght@300..700&display=swap');

.navbar {
  height: 100%;
  text-transform: uppercase;
  position: relative;
  
}

.central-navbar {
  width: 100%;
 
}

.lateral-navbar {
  position: fixed;
    right: 0;
  width: 25vw;
  border-left: 1px solid rgba(var(--black), .3);
  margin-left: auto;
  /* animation: move-navbar 2s forwards;  */
}




.nav-links-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.lateral-navbar .nav-links-container {
  height: 30%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 20px; 
  /* animation: animate-links-container 2s forwards; */

}





.nav-links {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 30px;
}
 
.nav-links-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.nav-link, .nav-link-lateral{
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.nav-icon-container{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 50px;
}

.nav-link-icon{
  width: 51px;
  height: 51px;
  margin-right: 10px;
  opacity: 0;
  color: rgb(var(--black));
  line-height: 1.025;
  letter-spacing: -0.32px;
  transform: rotate(110deg);
  padding-bottom: 11px;
  position: absolute;
  right: 15px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.nav-link1{
  justify-content: center !important;
  margin-left: 10px !important;
}
.link-icon1{
  width: 51px;
  height: 51px;
  opacity: 0;
  color: rgb(var(--black));
  line-height: 1.025;
  letter-spacing: -0.32px;
  padding-bottom: 11px;
  position: absolute;
  right: -50px;
  transform: rotate(-110deg);
}

.link{
  text-align: center;
  color: rgb(var(--black)) !important;
  cursor: pointer;
  display: inline-block;
  font-size: 3.3rem;
  /* padding: 0 !important; */
  text-decoration: none;
  transition: opacity 400ms ease;
  font-weight: 400 !important;
    font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 11px 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.link-lateral{
  color: rgb(var(--black)) !important;
  cursor: pointer;
  font-size: 2.5rem;
  /* padding: 0 !important; */
  text-decoration: none;
  transition: opacity 400ms ease;
  font-weight: 400 !important;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 11px 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.nav-link-image{
  height: auto;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.4); 
  opacity: 0;

}

/* Vendor prefixes for 'keyframes' rule */
@keyframes skeOne {
  0% {
    transform: skew(0);
  }
  100% {
    transform: skew(6deg, 0deg);
  }
}

/* Vendor prefixes for 'keyframes' rule - WebKit */
@-webkit-keyframes skeOne {
  0% {
    -webkit-transform: skew(0);
            transform: skew(0);
  }
  100% {
    -webkit-transform: skew(6deg, 0deg);
            transform: skew(6deg, 0deg);
  }
}

/* Vendor prefixes for 'keyframes' rule - Mozilla */
@-moz-keyframes skeOne {
  0% {
    -moz-transform: skew(0);
            transform: skew(0);
  }
  100% {
    -moz-transform: skew(6deg, 0deg);
            transform: skew(6deg, 0deg);
  }
}

/* Vendor prefixes for 'keyframes' rule - Microsoft */
@-ms-keyframes skeOne {
  0% {
    -ms-transform: skew(0);
            transform: skew(0);
  }
  100% {
    -ms-transform: skew(6deg, 0deg);
            transform: skew(6deg, 0deg);
  }
}

/* Vendor prefixes for 'keyframes' rule - Opera */
@-o-keyframes skeOne {
  0% {
    -o-transform: skew(0);
            transform: skew(0);
  }
  100% {
    -o-transform: skew(6deg, 0deg);
            transform: skew(6deg, 0deg);
  }
}


.nav-link-image0{
  width: 320px;
  right: 4%;
  top: 120px;
}
.nav-link-image1{
  left: 4%;
  top: 250px;
  width: 300px;
}
.nav-link-image2{
  right: 4%;
  bottom: 120px;
  width: 270px;
}

.lateral-navbar .nav-links li .link{
  /* animation: animate-link 2s forwards; */
  display: inline-block; 
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}



.bottom-nav-bar{

  height: 70%;
  width: 100%;
  overflow: hidden;
  cursor: crosshair;
}

.nav-links:hover > li > .link {
  opacity: 0.3;
}

.nav-links:hover > li > .link:hover {
  opacity: 1;
}

.nav-links-lateral:hover > li > .link-lateral {
  opacity: 0.3;
}

.nav-links-lateral:hover > li > .link-lateral:hover {
  opacity: 1;
}


.highlight-nav{
  color: rgb(var(--red)) !important;
}

.lateral-navbar .nav-links li.nav-link {
 display: inline-block;
  width: fit-content; 
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

}

/* Vendor prefixes for 'keyframes' rule */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Vendor prefixes for 'keyframes' rule - WebKit */
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Vendor prefixes for 'keyframes' rule - Mozilla */
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Vendor prefixes for 'keyframes' rule - Microsoft */
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Vendor prefixes for 'keyframes' rule - Opera */
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav-links:hover ~ .nav-background-pattern{
  background-size: 11.5vmin 11.5vmin;
  background-image: 
    linear-gradient(to right, rgba(var(--black), 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(var(--black), 0.08) 1px, transparent 1px);
}

.display-navbar-fixed{
  position: fixed;
    top: 0;
    z-index: 999999;
    background-color: rgb(var(--white));
    width: 30%;
    animation: display-navbar 1.6s forwards;
    overflow: hidden;
}
/* Vendor prefixes for 'animation' property - hide-navbar */
.hide-navbar {
  -webkit-animation: hide-navbar 1.5s forwards;
  animation: hide-navbar 1.5s forwards;
  overflow: hidden;
}

/* Vendor prefixes for 'keyframes' rule - hide-navbar */
@-webkit-keyframes hide-navbar {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /* border-radius: 0; */
  }

  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* border-radius: 70%; */
  }
}

@keyframes hide-navbar {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /* border-radius: 0; */
  }

  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* border-radius: 70%; */
  }
}

/* Vendor prefixes for 'animation' property - display-navbar */
.display-navbar {
  -webkit-animation: display-navbar 1.6s forwards;
  animation: display-navbar 1.6s forwards;
  overflow: hidden;
}

/* Vendor prefixes for 'keyframes' rule - display-navbar */
@-webkit-keyframes display-navbar {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* border-radius: 70%; */
  }

  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* border-radius: 0%; */
  }
}

@keyframes display-navbar {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* border-radius: 70%; */
  }

  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* border-radius: 0%; */
  }
}


@media (min-width: 1700px) {
  .nav-link-image0{
    width: 420px;
    right: 8%;
    top: 120px;
  }
  .nav-link-image1{
    left: 8%;
    top: 250px;
    width: 400px;
  }
  .nav-link-image2{
    right: 8%;
    bottom: 120px;
    width: 370px;
  }
  .link-lateral{
    font-size: 3rem;

  }
  
}
@media (max-width: 1170px) {

  /* main nav */
  .nav-link-image0{
    width: 250px;
    right: 4%;
    top: 120px;
  }
  .nav-link-image1{
    left: 4%;
    top: 250px;
    width: 230px;
  }
  .nav-link-image2{
    right: 4%;
    bottom: 120px;
    width: 200px;
  }
  
  /* MOBILENAVBAR */
  .curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--white), .8); /* Semi-transparent black background */
    backdrop-filter: blur(1px); /* Blur effect */
    z-index: 99999; /* Make sure this is below the navbar but above other content */
    display: none; /* Hidden by default */
}
.show-curtain {
  display: block; /* Show the curtain */
}
.navbar-icon-mobile-container{
  position: fixed;
    right: 8px;
    top: 10px;
    z-index: 99999999;
    padding: 10px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

  .navbar-icon-mobile{
    
    width: 50px;
    height: 50px;
    
    cursor: pointer;
    transition: transform 0.5s, color 0.5s, background-color 0.5s, color 0.5s; /* Specify transition for transform, color, and background-color */
    border-radius: 50%;
    padding: 8px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
  }
  .navbar-icon-mobile-close {
    position: fixed;
    right: 30px;
    top: 25px;
    z-index: 99999999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
  }

  .navbar-icon-mobile:hover{
    transform: scale(.9);
    color: rgb(var(--white)) !important;
    background-color: rgb(var(--red)) !important;
  }
  @media (hover: none) {
    .navbar-icon-mobile:hover {
      transform: none; /* Reset any transforms */
      color: inherit !important; /* Reset the color */
      background-color: inherit !important; /* Reset the background color */
    }
  }
  .close-icon{
    top: 25px;
    right: 27px;
    opacity: 0;
    width: 35px;
    height: 35px;
    transform: translateX(70%);
  }

  .mobile-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 30px 30px 20px 30px;
    z-index: 999999999;
    transform: translateY(-100%);
    background-color: rgb(var(--white));
  }
  .nav-links-mobile{
    display: flex;
    justify-content: space-between;
  }
  .nav-link-mobile{

  }

  .link-mobile{
    color: rgb(var(--black)) !important;
  cursor: pointer;
  font-size: 1.8rem;
  /* padding: 0 !important; */
  text-decoration: none;
  transition: opacity 400ms ease;
  font-weight: 400 !important;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 11px 0;
  }
}
@media (max-width: 1000px) {
  .display-navbar-fixed{
    position: fixed;
      width: 35%;
  }
}
@media (max-width: 880px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
}
  .nav-link{
    text-align: center;
    margin: 0;
  }
  .nav-link1{
   margin: 0 !important;
   padding: 0 !important;
  }
  .nav-link-image{
    display: none;
  }
  .nav-icon-container{
    display: none;
  }

}

@media (max-width: 340px){
  .link{
    font-size: 2rem;
  }

  .link-mobile {
    font-size: 1.4rem;
    }
}
