@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Jura:wght@300..700&display=swap');

.navbar {
  height: 100%;
  text-transform: uppercase;
  position: relative;
  
}

.central-navbar {
  width: 100%;
 
}

.lateral-navbar {
  position: fixed;
    right: 0;
  width: 25vw;
  border-left: 1px solid rgba(var(--black), .3);
  margin-left: auto;
  /* animation: move-navbar 2s forwards;  */
}


/* @keyframes move-navbar {
  from {
   border-left: 1px solid rgba(var(--black), .3);
    width: 100%;
  }

  to{
     width: 25%;
    border-left: 1px solid rgba(var(--black), .3);
    margin-left: auto;
  }
} */






.nav-links-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 20px; 
}

.lateral-navbar .nav-links-container {
  height: 30%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 20px; 
  /* animation: animate-links-container 2s forwards; */

}


/* @keyframes animate-links-container {
  from {
    height: 100%; 
  }
  to {
    height: 30%;
  }
} */




.nav-links {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 30px;
}
 
.nav-links-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

/* 
@keyframes animate-links {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  to {
 
    left: 83px;
  }
} */

.nav-link, .nav-link-lateral{
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  cursor: pointer;
}

.nav-icon-container{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 50px;
}

.nav-link-icon{
  width: 51px;
  height: 51px;
  margin-right: 10px;
  opacity: 0;
  color: rgb(var(--black));
  line-height: 1.025;
  letter-spacing: -0.32px;
  transform: rotate(110deg);
  padding-bottom: 11px;
  position: absolute;
  right: 15px;
}

.nav-link1{
  justify-content: center !important;
  margin-left: 10px !important;
}
.link-icon1{
  width: 51px;
  height: 51px;
  opacity: 0;
  color: rgb(var(--black));
  line-height: 1.025;
  letter-spacing: -0.32px;
  padding-bottom: 11px;
  position: absolute;
  right: -50px;
  transform: rotate(-110deg);
}

.link{
  text-align: center;
  color: rgb(var(--black)) !important;
  cursor: pointer;
  display: inline-block;
  font-size: 3.3rem;
  /* padding: 0 !important; */
  text-decoration: none;
  transition: opacity 400ms ease;
  font-weight: 400 !important;
    font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 11px 0;
}

.link-lateral{
  color: rgb(var(--black)) !important;
  cursor: pointer;
  font-size: 2.5rem;
  /* padding: 0 !important; */
  text-decoration: none;
  transition: opacity 400ms ease;
  font-weight: 400 !important;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 11px 0;
}

.nav-link-image{
  width: 300px;
  height: auto;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.4); 
  opacity: 0;
  /* animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  transform-origin: 50% 50%;
  animation-name: skeOne; */
}

@keyframes skeOne {
  0% {transform: skew(0);}
  100% {transform: skew(6deg, 0deg);}
}
.nav-link-image0{
  width: 320px;
  right: 180px;
  top: 120px;
}
.nav-link-image1{
  left: 180px;
  top: 250px;
}
.nav-link-image2{
  right: 180px;
  bottom: 120px;
  width: 270px;
}

.lateral-navbar .nav-links li .link{
  /* animation: animate-link 2s forwards; */
  display: inline-block; 
}

/* @keyframes animate-link {
  from {
    font-size: 3.3rem;
  }
  to {
    font-size: 2rem !important;
  }
} */

/* 
@keyframes animate-navbar-links {
  from {
    font-size: 2.5rem;
     padding: 20px 0;
  }

 

  to {
    font-size: 1.7rem;
    font-weight: 400;
     padding: 10px 0;
  }
} */


.bottom-nav-bar{

  height: 70%;
  width: 100%;
  overflow: hidden;
  cursor: crosshair;
}

.nav-links:hover > li > .link {
  opacity: 0.3;
}

.nav-links:hover > li > .link:hover {
  opacity: 1;
}

.nav-links-lateral:hover > li > .link-lateral {
  opacity: 0.3;
}

.nav-links-lateral:hover > li > .link-lateral:hover {
  opacity: 1;
}


.highlight-nav{
  color: rgb(var(--red)) !important;
}

.lateral-navbar .nav-links li.nav-link {
 display: inline-block;
  width: fit-content;  

}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}



.nav-links:hover ~ .nav-background-pattern{
  background-size: 11.5vmin 11.5vmin;
  background-image: 
    linear-gradient(to right, rgba(var(--black), 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(var(--black), 0.08) 1px, transparent 1px);
}

.hide-navbar {
  animation: hide-navbar 1.5s forwards;
  overflow: hidden;
}

@keyframes hide-navbar {
  from {
    transform: translateX(0);
    /* border-radius: 0; */
  }
 
  to {
    transform: translateX(100%);
    /* border-radius: 70%; */
  }
}

.display-navbar {
  animation: display-navbar 1.6s forwards;
  overflow: hidden;
}

@keyframes display-navbar {
  from {
    transform: translateX(100%);
    /* border-radius: 70%; */
  }

  to {
    transform: translateX(0%);
    /* border-radius: 0%; */
  }
}
