.bottom-nav-title {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 20px;
}


.bottom-nav-content {
  padding: 5px 3px;
  font-weight: 200;
  font-size: 0.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 17px;
  position: relative;
  z-index: 1;
}

.active-class-vertical {
}

.block {
  display: none;
}

.active-class-vertical:before {
}

.active-class-vertical-animate-add:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  background-color: rgba(var(--black), 0.3);
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: 0;
  border: 1px solid rgb(var(--black));
  animation: addBackground 0.5s forwards;
}

@keyframes addBackground {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}

.active-class-vertical-animate-remove:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black), 0.3);
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: 0;
  border: 1px solid rgb(var(--black));
  animation: removeBackground 0.5s forwards;
}

@keyframes removeBackground {
  0% {
    top: 0;
    height: 100%;
    opacity: 1;
  }
  100% {
    top: 100%; /* Moves the top down */
    height: 0; /* Reduces the height to 0 */
    opacity: 0;
  }
}

/* .block{
  display: none;
}
.active-class-vertical, .active-class-horizontal{
  position: absolute;
  top: -6px;
  width: 90%;
  height: calc(100% + 12px); 
  border-radius: 10px;
}

.active-class-vertical:before{
  position: absolute;
  content: "";
  left: -5px;
  top: 0;
  width: 1px;
  background-color: red;
  border-radius: 10px;
  height: 0;
  animation: animateNavContent 2s ease forwards;
}
.active-class-vertical:after{
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 1px;
  background-color: red;
  border-radius: 10px;
  height: 0;
  animation: animateNavContent 2s ease forwards;
}
.active-class-horizontal:before{
  position: absolute;
  content: "";
  left: -5px;
  top: 0;
  width: 0;
  background-color: red;
  border-radius: 10px;
  height: 1px;
  animation: animateNavContentWidth 2s ease forwards;
}

.active-class-horizontal:after{
  position: absolute;
  content: "";
  left: -5px;
  bottom: 0;
  width: 0;
  background-color: red;
  border-radius: 10px;
  height: 1px;
  animation: animateNavContentWidth 2s ease forwards;
}

@keyframes animateNavContent{
  from{
    height: 0;
  }
  to{
    height: 100%;
  }
}
@keyframes animateNavContentWidth{
  from{
    width: 0;
  }
  to{
    width: calc(100% + 5px);
  }
} */

.bottom-nav--title {
  display: flex;
  gap: 10px;
}

.bottom-nav-number {
  opacity: 0.6;
}

.bottom-nav-text {
  line-height: 1.5;
  white-space: wrap;
  text-transform: none;
  font-size: 0.9rem;
  z-index: 9;
}
.bottom-nav-text span {
  opacity: 0.6;
}

/* MUSIC CONTENT */

.music-navbar-container {
  animation: fade-in 0.7s forwards;
}
.bottom-nav-paragraph {
  margin-bottom: 15px;
  letter-spacing: 0.2px;
  line-height: 1.1rem;
  text-transform: none;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.red-highlight{
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgb(var(--red));
}

.fade-out-music-navbar-container {
  animation: fade-out 0.7s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* contact */

.about-bottom-navbar-content {
    height: 100%;
}

.contact-social-container {
  position: relative;
  width: 100%;
  height: 14.1% !important;
  cursor: pointer;
}
.inner-socials{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
   font-family: 'Mauline';
  font-style: normal;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 1.8rem;
}

.scrolling-text .text-wrapper {
  display: flex;
  white-space: nowrap;
  animation: animateContactLinks 10s linear infinite; /* Adjust time as needed */
}

.scrolling-text .text-wrapper span {
  margin-right: 10px; /* Space between the end of one text and the start of its duplicate */
}

@keyframes animateContactLinks {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%); /* Moves only half the width */
  }
}

/* .inner-socials::after{
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 30px;
  height: 1px;
  background-color: rgb(var(--black));
} */

.contact-social-original {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100% !important;
  z-index: 0;
  
}
.contact-social-opposite { 
  position: absolute;
  left: 0;
  top: 50%; /* Position at the center vertically */
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: rgb(var(--red));
   color: rgb(var(--white));
  width: 100%;
  height: 0%;
  z-index: 9;
  overflow: hidden;
}

.expand-height { 
  animation: expand-height .5s ease-in-out forwards;
}

.shrink-height { 
  animation: shrink-height .5s ease-in-out forwards;
}


@keyframes expand-height {
  from {
    height: 0%;
    transform: translateY(-50%); /* Start from the center */
  }
  to {
    height: 100%;
    transform: translateY(-50%); /* Maintain center position */
  }
}
@keyframes shrink-height {
  from {
    height: 100%;
    transform: translateY(-50%); /* Start from the center */
  }
  to {
    height: 0%;
    transform: translateY(-50%); /* Maintain center position */
  }
}
