.bottom-nav-title {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 20px;
}

.bottom-nav-content {
  padding: 5px 3px;
  font-weight: 200;
  font-size: 0.8rem;
  display: -webkit-box; /* For iOS and Safari */
  display: -ms-flexbox; /* For IE 10 and IE 11 */
  display: flex;
  -ms-flex-align: start; /* For IE 10 and IE 11 */
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 17px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bottom-nav-content-projects, .bottom-nav-content-music{
  opacity: 1;
}

.bottom-nav-projects{
  opacity: 1;
}

.active-class-vertical {
}

.block {
  display: none;
}

.active-class-vertical:before {
}

.active-class-vertical-animate-add:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  background-color: rgba(var(--black), 0.3);
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: 0;
  border: 1px solid rgb(var(--black));
  -webkit-animation: addBackground 0.5s forwards;
          animation: addBackground 0.5s forwards;
}

@-webkit-keyframes addBackground {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}

@keyframes addBackground {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}

.active-class-vertical-animate-remove:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black), 0.3);
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: 0;
  border: 1px solid rgb(var(--black));
  -webkit-animation: removeBackground 0.5s forwards;
          animation: removeBackground 0.5s forwards;
}

@-webkit-keyframes removeBackground {
  0% {
    top: 0;
    height: 100%;
    opacity: 1;
  }
  100% {
    top: 100%;
    height: 0;
    opacity: 0;
  }
}

@keyframes removeBackground {
  0% {
    top: 0;
    height: 100%;
    opacity: 1;
  }
  100% {
    top: 100%;
    height: 0;
    opacity: 0;
  }
}

.bottom-nav--title {
  display: flex;
  gap: 10px;
}

.bottom-nav-number {
  opacity: 0.6;
}

.bottom-nav-text {
  line-height: 1.5;
  white-space: normal; /* Corrected property name */
  text-transform: none;
  font-size: 0.9rem;
  z-index: 9;
  overflow: hidden;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto; 
}

.bottom-nav-text span {
  opacity: 0.6;
}

/* MUSIC CONTENT */

.music-navbar-container {
  -webkit-animation: fade-in 0.7s forwards;
          animation: fade-in 0.7s forwards;
}

.bottom-nav-paragraph {
  margin-bottom: 15px;
  letter-spacing: 0.2px;
  line-height: 1.1rem;
  text-transform: none;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.red-highlight{
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgb(var(--red)); /* You haven't defined --red variable */
}

.fade-out-music-navbar-container {
  -webkit-animation: fade-out 0.7s forwards;
          animation: fade-out 0.7s forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* contact */

.about-bottom-navbar-content {
  height: 100%;
}

.contact-social-container {
position: relative;
width: 100%;
height: 14.1% !important;
cursor: pointer;
}

.contact-social-container, .contact-social-container-1 {
opacity: 0;
}

.inner-socials {
position: relative;
display: -webkit-box; /* For iOS and Safari */
display: -ms-flexbox; /* For IE 10 and IE 11 */
display: flex;
-ms-flex-pack: start; /* For IE 10 and IE 11 */
justify-content: flex-start;
-webkit-box-pack: start; /* For iOS and Safari */
gap: 20px;
align-items: center;
padding: 20px;
font-family: 'Mauline';
font-style: normal;
font-weight: 100;
letter-spacing: 1.5px;
font-size: 1.8rem;
}

.scrolling-text .text-wrapper {
display: -webkit-box; /* For iOS and Safari */
display: -ms-flexbox; /* For IE 10 and IE 11 */
display: flex;
white-space: nowrap;
-webkit-animation: animateContactLinks 10s linear infinite; /* Adjust time as needed */
        animation: animateContactLinks 10s linear infinite; /* Adjust time as needed */
}

.scrolling-text .text-wrapper span {
margin-right: 10px; /* Space between the end of one text and the start of its duplicate */
}

@-webkit-keyframes animateContactLinks {
from {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
to {
  -webkit-transform: translateX(-50%); /* Moves only half the width */
          transform: translateX(-50%); /* Moves only half the width */
}
}

@keyframes animateContactLinks {
from {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
to {
  -webkit-transform: translateX(-50%); /* Moves only half the width */
          transform: translateX(-50%); /* Moves only half the width */
}
}

.contact-social-original {
position: absolute;
left: 0;
top: 0;
display: -webkit-box; /* For iOS and Safari */
display: -ms-flexbox; /* For IE 10 and IE 11 */
display: flex;
-ms-flex-pack: start; /* For IE 10 and IE 11 */
justify-content: flex-start;
-webkit-box-pack: start; /* For iOS and Safari */
align-items: center;
gap: 20px;
width: 100%;
height: 100% !important;
z-index: 0;
}

.contact-social-opposite { 
position: absolute;
left: 0;
top: 50%; /* Position at the center vertically */
-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
        transform: translateY(-50%);
display: -webkit-box; /* For iOS and Safari */
display: -ms-flexbox; /* For IE 10 and IE 11 */
display: flex;
-ms-flex-pack: start; /* For IE 10 and IE 11 */
justify-content: flex-start;
-webkit-box-pack: start; /* For iOS and Safari */
align-items: center;
gap: 20px;
background-color: rgb(var(--red));
color: rgb(var(--white));
width: 100%;
height: 0%;
z-index: 9;
overflow: hidden;
}

.expand-height { 
-webkit-animation: expand-height .5s ease-in-out forwards;
        animation: expand-height .5s ease-in-out forwards;
}

.shrink-height { 
-webkit-animation: shrink-height .5s ease-in-out forwards;
        animation: shrink-height .5s ease-in-out forwards;
}

@-webkit-keyframes expand-height {
from {
  height: 0%;
  -webkit-transform: translateY(-50%); /* Start from the center */
}
to {
  height: 100%;
  -webkit-transform: translateY(-50%); /* Maintain center position */
}
}

@keyframes expand-height {
from {
  height: 0%;
  transform: translateY(-50%); /* Start from the center */
}
to {
  height: 100%;
  transform: translateY(-50%); /* Maintain center position */
}
}

@-webkit-keyframes shrink-height {
from {
  height: 100%;
  -webkit-transform: translateY(-50%); /* Start from the center */
}
to {
  height: 0%;
  -webkit-transform: translateY(-50%); /* Maintain center position */
}
}

@keyframes shrink-height {
from {
  height: 100%;
          transform: translateY(-50%); /* Start from the center */
}
to {
  height: 0%;
          transform: translateY(-50%); /* Maintain center position */
}
}

@media (min-width: 1700px) {
.bottom-nav-text {
  font-size: 1rem;
}
}

@media (max-width: 1200px) {
.bottom-nav-text {
  font-size: 0.8rem;
  overflow: hidden !important;
  text-align: left !important;
  text-justify: none !important;
  -webkit-hyphens: manual !important;
          hyphens: manual !important;
}
}
