.hover-image-container{

}


.onhover-images{
    width: 300px;
    height: auto;
    border-radius: 10px;
    opacity: 0;
  filter: brightness(10); /* Initially set brightness to 0 (very white) */
  animation: fadeInAndWhiten .5s ease forwards;
  transition: opacity 0.5s ease; /* Add opacity transition */
}

@keyframes fadeInAndWhiten {
  0% {
    opacity: 0;
    filter: brightness(2);
  }
  100% {
    opacity: 1;
    filter: brightness(1); /* End with normal brightness (1) */
  }
}

.onhover-images:not(:hover) {
  opacity: 0; /* Set opacity to 0 when not hovered */
  filter: brightness(2);
}

/* Apply opacity when not hovered */
.buttons-body-container:not(:hover) .onhover-images {
  opacity: 1; /* Set opacity to 0 when not hovered over the container */
  filter: brightness(2);
  border-radius: 60px;
}

.body-container-top{
   display: flex;
   gap: 50px;
}
.body-paragraph-effect-container{
  padding: 17px;
  width: 70%;
}


.paragraph-effect {
  font-family: monospace;
}




.music-body-container{
  height: 100%;
    animation: fade-in .7s forwards;
}


.animation-names-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  flex-direction: column;
}

.single-artist-name{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4.5rem;
  text-align: center; 
  color: rgb(var(--black));
  margin: 0;
  padding: 0;
  line-height: 0;
}



/* names animations */

/* .animation-names-container{
  margin: 0 100px;
  position: relative;
  height: 70%;
}

.artist-name{
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeInFadeOut 1s forwards;
} */


@keyframes fadeInFadeOut {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* BODY SLIDER */

/* .body-slider-outer-container{
  
}
.body-slider-inner-container{
   width: 100%; 
  margin: 0 auto; 
  height: 100%;
  border: 1px solid yellow;
   display: flex; 
  justify-content: center; 
  align-items: center; 
  perspective: 1000px;

}
.inner-section{
 display: flex; 
  justify-content: center; 
  align-items: center; 

  position: relative;
  border: 1px solid red;
  perspective: 1000px;
  transform-style: preserve-3d;
  
} */
/* .element-image-container:hover{
 transform: scale(.98);
} */




 
/* MUSIC CAROUSEL */
.carousel{
  padding-top: 40px;
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.row{

}
.swiper{
  width: 100%;
}
.one{

}
.content{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.before{

}
.large-text {
  text-transform: uppercase;
  font-size: 115px;
  font-weight: 700;
  text-align: center;
}

.large-text.before {
  position: absolute;
  top: 120px;
  color: rgb(var(--black));
}
.large-text.after {
  position: absolute;
  top: 120px;
  color: transparent;
  z-index: 8;
  pointer-events: none;
  -webkit-text-stroke: 3px rgb(var(--black));
}


.image-wrap{
  overflow: hidden;
  width: 565px;
  height: 385px;
  margin: auto;
  position: relative;
  z-index: 7;
  position: relative;
  border-radius: 10px;
  cursor: none;
  transition: all .3s ease-out;
}
.image-wrap:hover{
  transform: scale(1.01);
}

.image-wrap.no-hover:hover {
  transform: none;  
}


.image-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 1;
  border-radius: 10px;
  transition: all .5s;
}

.image-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--white));
  z-index: 2;
  border-radius: 0px;
}
.image-wrap:hover::after {
  background-color: rgba(0, 0, 0, .2); 
}

.carousel-image{
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}




.after{

}

.art-detail{
  width: 50%;
  color: rgb(var(--black));
  font-size: 14px;
}
.art-detail span{
  display: block;
}

.two{

}
.about{
  margin-top: 10px;
}
.about span{
  margin-bottom: 6px;
  text-transform: capitalize;
}
.designer{
  margin-bottom: 13px;
  padding-left: 3px;
}
.client{

}
.date{
  padding-left: 3px;
}
.carousel-info{
  /* position: absolute;
  top: 40px;
  right: 30px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  gap: 3px;
  width: 170px;
  text-transform: uppercase;
  font-size: .95rem;
  letter-spacing: .6px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.carousel-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  margin-top: 30px;
  width: 700px;
}

.counter-indicator{
  padding: 3.5px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9999999;
  font-size: .9rem;
  background-color: rgba(var(--black),.8);
  color: rgb(var(--white));
  border-radius: 1.5px;
}
.btn{
  background: none;
  cursor: pointer;
  transform: all 250ms ease-in-out;
  border: none;
}
.prev{

}
.next{

}

.carousel-icon{
  color: rgb(var(--black)) !important;
  transition: all .3s;
}
.carousel-icon:hover{
  transform: scale(1.1);
}

.swiper-button-next, .swiper-button-prev{
  position: static !important;
  margin-top: 0 !important;
  color: rgb(var(--black)) !important;
}

.swiper-button-prev svg, .swiper-button-next svg {
  width: 100px !important;
  height: 100px !important;
}
.swiper-button-prev::after{
  display: none;
}
.swiper-button-prev::before {
  display: none;
}
.swiper-button-next::after{
  display: none;
}
.swiper-button-next::before{
  display: none;
}



/* image overlay */

/* overlay */
.carouse-image-overlay-container {
  display: flex;
  flex-direction: column;
  position: absolute; /* Change to absolute positioning */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-image-overlay {
  width: 100%; /* Set width to 100% */
  height: 50%; /* Set height to 50% */
  background-color: transparent;
  z-index: 888;
  position: absolute;
  overflow: hidden;
  background-color: rgb(var(--white));
}
.carousel-image-overlay:nth-child(1){
  left: 0;
  top: 0;
  
}
.carousel-image-overlay:nth-child(2){
  left: 0;
  bottom: 0;
}



/* VIEW PROJECTS CURSOR */

.custom-cursor {
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(var(--red), 1);
  pointer-events: none;
  z-index: 99999999999;
  color: rgb(var(--white));
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  /* border: .7px solid rgb(var(--white)); */
  white-space: nowrap;
  
}

.cursor-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(var(--white));
}

/* MUSIC COLLECTIVES TITLE */
.collectives-header-container{
  padding: 30px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: relative;
}

.collectives-titles-container{
  padding: 0 10px;
  position: relative;
}
.collective-title-name{
  position: absolute;
  right: 0px;
  top: 0px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.5rem;
}
.collectives-header-title{
  font-size: 6rem;
  text-transform: uppercase;
  text-align: left;
  z-index: 1;
  line-height: 7rem;
}
.collectives-header-title:nth-child(3){
  margin-bottom: 560px;
}

.collectives-header-image-container{
  position: absolute;
  top: 255px;
  right: 100px;
  z-index: -1;
  display: table;
  margin: auto;
}

.figcaption-collectives-header {
  font-size: 1rem;
  display: table-caption;
  caption-side: bottom; /* Asegurar que la leyenda esté en la parte inferior */
  text-align: center;
opacity: .8; /* Color del texto de la leyenda */
  font-style: italic;
  margin-top: 20px;
  z-index: 9999999;
}

.collectives-header-image{
  width: 700px;
  height: auto;
  scale: .85;
  opacity: .6;
  border-radius: 7px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.4); 

}

.collectives-header-paragraph-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  position: relative;
}

.collectives-header-paragraph{
  font-size: 2rem;
  letter-spacing: 0px;
  font-weight: 100;
  line-height: 1.2em;
  white-space: pre-wrap !important; /* Allow line breaks */
  word-wrap: break-word !important; 
  text-align: justify;
    text-justify: inter-word;
    hyphens: auto; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 80%;
  margin-top: 100px;

}
.collectives-header-paragraph .small{
  font-size: 1.2rem;
}
.glass-icon{
  margin: 0 8px;
  width: 23px;
  height: 23px;
}
.glass-icon2{
 transform: rotate(270deg);
}

.collectives-scroll-bar-container{
  /* transform: rotate(-90deg); */
  display: flex;
  align-items: center;
  flex-direction: column-reverse;

  gap: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.collectives-scroll-bar, .collectives-scroll-bar-2, .collectives-scroll-bar-3{
  height: 0px;
  width: 2px;
  background-color: rgb(var(--black));
}

.collectives-header-podacts-titles{
  font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 2px;
    opacity: .7;
    display: inline-block;
    margin-left: 30px;
}
.scroll-text{
  writing-mode: vertical-lr; /* This makes the text go from top to bottom */
  transform: rotate(0deg);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}
.scroll-boxes, .scroll-boxes-2, .scroll-boxes-3, .scroll-boxes-6, .scroll-boxes-7{
  width: 14px;
  height: 14px;
  border: 1px solid rgb(var(--red));
  background-color: none;
}
.scroll-boxes-6, .scroll-boxes-7{
  background-color: rgb(var(--red));
  opacity: 0;
  animation: rotateBox 3s infinite linear;
}

@keyframes rotateBox {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* AUDIO PLAYERS AND PARTIES INTO */

.audio-player{
  border-bottom: .3px solid rgb(var(--black));
  width: 100%;
  background-color: rgb(var(--white));
  height: 170px;
  position: relative; 
  overflow: hidden;
  transition: color 0.25s ease;

  display: flex;
  align-items: center;
  /* transition-delay: 0.5s;  */
}


.audio-player::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%; /* Start width at 0% */
  height: 100%;
  background-color: rgb(var(--black)); /* Set to desired hover background color */
  transition: width 0.5s ease; /* Animate the width change */
  z-index: 0; /* Ensure the content stays on top */
  transition: all .2s ease-in-out;

}

.audio-player:hover::before {
  width: 100%; 
}
.audio-player:hover {
  color: rgb(var(--white));
}


.audio-player:hover .player-data-container-top{
  left: 20px;
}
.player-data-container-top{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
  padding: 30px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  transition: left .2s ease-in-out;
}

.player-resume{
  width: 80%;
  font-size: 1.1rem;
  letter-spacing: 1.4px;
  line-height: 1.35rem;
  text-transform: uppercase;
  font-family: 'Poppins';
  z-index: 99;
}



.player-data-bottom{

}


.player-data-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-data-left-playing{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  color: rgb(var(--white)) !important;
}

.play-button{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: rgb(var(--white));
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(var(--black));
  cursor: pointer;
  z-index: 99;
  transition: transform .3s;
}
.play-button:hover{
 transform: scale(.93);
}
.play-button .icon-player{
  width: 15px !important;
  height: 15px !important;
  color: rgb(var(--black)) !important;
}

.player-artist{
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 100;
  z-index: 99;
}

.time-player-container{
  font-family: "Anonymous Pro", monospace;
  align-self: flex-start;
  padding-top: 8px;
  margin-left: 20px;
  z-index: 99;
  font-size: 1.2rem;
}
.time-player-container-playing{
  font-family: "Anonymous Pro", monospace;
  z-index: 99;
  font-size: 1rem;
  letter-spacing: .7px;
 
}

.player-title{
  text-transform: uppercase;
  letter-spacing: 1px;
  /* font-family: 'Poppins'; */
  font-family: "Anonymous Pro", monospace;
  font-weight: 100;
  z-index: 99;
}

.player-type{
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  right: 35px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.player-type .player-icon{
  width: 20px;
  height: 20px;
}

/* Base styles for the input[type="range"] */
.player-progress-bar {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 50%; /* Full width - you can adjust this */
  height: 1px; /* Height of the track */
  background: rgb(var(--white)); /* Background color of the track */
  outline: none; 
  /* transition: opacity .2s;  */
}

/* Hover effect for the slider */
.player-progress-bar:hover {
  opacity: 1; /* Fully opaque on hover */
}

/* Webkit browsers like Chrome and Safari */
.player-progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 10px; /* Width of the thumb */
  height: 10px; /* Height of the thumb */
  background: rgb(var(--white)); /* Thumb background color */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%; /* Make the thumb round */
  padding-bottom: 10px;
  margin-top: -4px;
  cursor: grab;
}

/* Firefox */
.player-progress-bar::-moz-range-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 10px; /* Width of the thumb */
  height: 10px; /* Height of the thumb */
  background: rgb(var(--white)); /* Thumb background color */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  padding-bottom: 10px;
  margin-top: -4px;
  cursor: grab;
}

/* For the track (Webkit) */
.player-progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: rgb(var(--white)); /* Track color */
}

/* For the track (Firefox) */
.player-progress-bar::-moz-range-track {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 50%; /* Full width - you can adjust this */
  height: 1px; /* Height of the track */
  background: rgb(var(--white)); /* Background color of the track */
  outline: none; 
}


@media (max-width: 1300px){
  .player-artist{
    font-size: 3rem;
  }
}
@media (max-width: 900px){
  .button-body {
      font-size: .85rem;

  }
    .large-text {
      font-size: 90px;
  }
  .image-wrap {
    width: 485px;
    height: 345px;
    border-radius: 4px;
  }

  .image-wrap::after {
    border-radius: 4px;
  }
  
  .image-wrap::before {
    border-radius: 4px;
  }
  .carousel-image {

    border-radius: 4px;
}
  .collectives-header-image-container {
    top: 250px;
    right: 100px;
  }
  .collectives-header-image {
    width: 600px;
    scale: .85;
    border-radius: 4px;
  }
  .figcaption-collectives-header {
    font-size: 1rem;
    margin-top: 0px;
  }
  .collectives-header-paragraph {
    font-size: 2rem;
    margin-top: 60px;
  }
  .audio-player {
    height: 140px;
    /* transition-delay: 0.5s; */
}

  .player-artist {
    font-size: 2.5rem;
}

  .player-data-container-top {
    padding: 15px 17.5px;
    gap: 20px;
  }
  .time-player-container {
    margin-left: 15px;
    font-size: 1rem;
}

.player-title {
  font-size: .9rem;
}

}
@media (max-width: 750px){
 
  .collectives-header-image-container {
    top: 185px;
    right: 100px;
  }
  .collectives-header-image {
    width: 560px;
    scale: .85;
  }
  .figcaption-collectives-header {
    font-size: 1rem;
    margin-top: 0px;
  }

  .collectives-header-title{
    font-size: 4rem;
    line-height: 4rem;
  }
  .collectives-header-paragraph {
    font-size: 1.7rem;
    margin-top: -60px;
  }
  .play-button {
    width: 37px;
    height: 37px;
    padding: 8px;
}
}
@media (max-width: 700px){
  .button-body {
    font-size: .8rem;

}

.collectives-header-title-mobile{
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 2px;
    opacity: .7;
}

.collectives-titles-container{
  display: none;
}
.collectives-header-paragraph {
  font-size: 1.55rem;
  margin-top: 50px;
  width: 100%;
}
.collectives-header-paragraph-container .collectives-scroll-bar-container{
  display: none;
}

.collectives-header-title:nth-child(3) {
  margin-bottom: 0px;
}
  .large-text {
      font-size: 75px;
  }
  .image-wrap {
    width: 435px;
    height: 315px;
    cursor: pointer;
    border-radius: 2px !important;
  }


  .image-wrap::after {
    border-radius: 2px !important;
  }
  
  .image-wrap::before {
    border-radius: 2px  !important;
  }
  .carousel-image {

    border-radius: 2px;
}
  .collectives-header-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 200px;
    position: static;
    right: 0;
    left: 0px;
  }
  .collectives-header-image {
 
    width: 600px;
    border-radius: 2px;
    
  }
  .figcaption-collectives-header {
    font-size: .9rem;
  }
  .audio-player {
    height: 100px;
}
.play-button {
  width: 30px;
  height: 30px;
  padding:9px;
}

  .player-artist {
    font-size: 1.8rem;
}

  .player-data-container-top {
    padding: 10px 17.5px;
    gap: 20px;
  }
  .time-player-container {
    margin-left: 15px;
    font-size: .9rem;
}
  .player-title {
    display: none;
  }


.scroll-boxes-2, .scroll-boxes{
  width: 11px;
  height: 11px;
}


}
@media (max-width: 600px){
  .collectives-header-title{
    font-size: 3.4rem;
    line-height: 4rem;
  }

  .collectives-header-image {
   width: 450px;
  }

  
}
@media (max-width: 530px){
  .button-body {
      font-size: .8rem;

  }
    .large-text {
      font-size: 68px;
  }
  .image-wrap {
    width: 400px;
    height: 300px;
    cursor: pointer;
  }


  .collectives-header-image {
    width: 450px;
  }

  .collectives-header-paragraph {
    font-size: 1.3rem;
  }


}
@media (max-width: 500px){
    .large-text {
      font-size: 52px;
  }
  .large-text.before {
    top: 75px;
}
  .large-text.after{
    top: 75px;
}
  .image-wrap {
    width: 300px;
    height: 220px;
  }


  .collectives-header-image {
    width: 450px;
  }

  .collectives-header-paragraph {
    font-size: 1.3rem;
  }

  .carousel-top-container{
    margin: 50px 0;
    padding: 0 30px;
  }
  .carousel-top-paragraph{
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 100;
    line-height: 1.2em;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    text-align: justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  .music-carousel-bottom-container{
    padding: 0 30px;
  }

  .play-button {
    width: 24px;
    height: 24px;
    padding:7.5px;
  }
  
  .player-artist {
    font-size: 1.4rem;
}



}


