.hover-image-container{

}


.onhover-images{
    width: 300px;
    height: auto;
    border-radius: 10px;
    opacity: 0;
  filter: brightness(10); /* Initially set brightness to 0 (very white) */
  animation: fadeInAndWhiten .5s ease forwards;
  transition: opacity 0.5s ease; /* Add opacity transition */
}

@keyframes fadeInAndWhiten {
  0% {
    opacity: 0;
    filter: brightness(2);
  }
  100% {
    opacity: 1;
    filter: brightness(1); /* End with normal brightness (1) */
  }
}

.onhover-images:not(:hover) {
  opacity: 0; /* Set opacity to 0 when not hovered */
  filter: brightness(2);
}

/* Apply opacity when not hovered */
.buttons-body-container:not(:hover) .onhover-images {
  opacity: 1; /* Set opacity to 0 when not hovered over the container */
  filter: brightness(2);
  border-radius: 60px;
}


.music-body-container{
  height: 100%;
    animation: fade-in .7s forwards;
}


/* names animations */

.animation-names-container{
  margin: 0 100px;
  position: relative;
  height: 70%;
}

.artist-name{
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeInFadeOut 1s forwards;
}


@keyframes fadeInFadeOut {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}