@keyframes curtain {
  from {
    width: 0;
  }
  
  50% {
    width: 100%;
    right: 0;
  }
  
  to {
    width: 100%;
    right: 100%;
  }
}

.curtain-overlay {
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgb(var(--black));
  z-index: -1;
  opacity: 1;
}

.curtain-transition {
  animation: curtain 2s linear;
  z-index: 999;
}


.home-container > h2 {
  font-size: 6.9rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.h2-text{
  padding: 0 1px;
  border-radius: 10px;
  background-color: rgb(var(--white));
}

.text-heavy{
  font-weight: 800;
  margin-right: 30px;
}

.text-circle{
  font-weight: 100;
}

.highlight{
  transition: all .4s ease;
  /* border: 1px solid var(--black);
  border-radius: 50%;
  padding: 0px 10px; */
}

.highlight::after {
  transition: all .4s ease;
  content: "";
  position: absolute;
  top: 5px; 
  left: -5px; 
  width: 105%; 
   height: 80%; 
  transform: rotate(-5deg); 
  z-index: 1; 
  border: 1px solid rgb(var(--red), .8);
  border-radius: 50%;
  padding: 0px 10px;
}


.fade-out{
  animation: fade-out-right-animation .5s forwards;
}

@keyframes fade-out-right-animation {
	0% {
    opacity: 1;
    transform: translateX(0);
  } 

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}




.re-locate {
  animation: moveToTopRight 1s forwards; /* adjust duration as needed */
}

@keyframes moveToTopRight {
  from {
    font-size: 6.9rem;
    transform: translate(0, 0);
  }
  to {
    font-size: 2rem;
    transform: translateX(100%);
    opacity: 0;
  }
}


.dissapear{
  animation: dissapear-animation .5s forwards;
}

@keyframes dissapear-animation {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.projects, .contact{
  font-family: 'Ivar Display, sans-serif' !important;
}

.inner-hidden{
  display: none;
}

.tag-container{
  position: relative;
}

.inner-display {
  display: inline-block !important;
  position: absolute;
  right: 35%;
   top: 25%;
  font-size: .5rem;
  border-radius: 5px;
  font-weight: 100;
  color: rgb(var(--white));
  z-index: 1;
  padding: 2px 1px;
  background-color: rgb(var(--red));
  white-space: nowrap; 
   overflow: hidden;
  animation: expand-animation .5s forwards;
  width: 150px;

}

.text-tag{
   font-weight: 500 !important;
   text-transform: uppercase;
    position: relative;
    display: inline-block;
    animation: neon-animation 2s linear infinite;
  width: 100%;
}



@keyframes neon-animation {
	0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes expand-animation {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

/* images */

.home-image-container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  z-index: -10;
}

@keyframes display-animation-left {
  from {
    position: absolute;
    opacity: 0;
    transform: translateX(0%);


  }
  to {
    
    opacity: 1;
    transform: translateX(-75px);

  }
}
@keyframes reverse-display-animation-left {
  from {
    opacity: 1;
    transform: translateX(-75px);
  }
  to {
    position: absolute;
    opacity: 0;
    transform: translateX(0%);

  }
}

.display{
  animation: display-animation-left .6s forwards;
}
.reverse-display{
  animation: reverse-display-animation-left .6s forwards;
}

@keyframes display-animation-right {
  from {
      transform: translateX(0%);


  }
  to {
    
     transform: translateX(75px);

  }
}
@keyframes reverse-display-animation-right {
  from {
      transform: translateX(75px);


  }
  to {
    
     transform: translateX(0%);

  }
}

.animate-right{
  animation: display-animation-right .6s forwards;
}
.reverse-animate-right{
  animation: reverse-display-animation-right .6s forwards;
}

.home-image{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}
