@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Jura:wght@300..700&family=Oswald:wght@200..700&display=swap');

.landing-title {
  color: rgb(var(--black));
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400 !important;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  z-index: 9999999;
}

.icon-replica-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 10%;
  background-color: rgb(var(--white));
}
.icon-replica-container-expand{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 10%;
  background-color: rgb(var(--white));
  animation: expandIconReplicaContainer 1.5s forwards;
}

@keyframes expandIconReplicaContainer {
  from {
    width: 75%;
  }
  to{
    width: 100%;
  }
}


.icon-replica-container-shrink{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 75%;
  height: 10%;
  background-color: rgb(var(--white));
  animation: shrinkIconReplicaContainer 1.5s forwards;
}

@keyframes shrinkIconReplicaContainer {
  from {
    width: 100%;
  }
  to{
    width: 75%;
  }
}



.icon-replica-inner-container{
  position: absolute;
  top: 11px;
  left: 7px;
  padding: 10px;
}

.icon-replica{
  color: rgb(var(--black));
  transition: all .4s ease-in-out;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400 !important;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
  padding: 7.7px;
  padding-left: 12.5px;
  border-radius: 50%;
  /* border: 1px solid rgb(var(--black)); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-replica:hover{
  transform: scale(.9);
  color: rgb(var(--white)) !important;
  background-color: rgb(var(--red)) !important;
}

@media (min-width: 1700px){
  .icon-replica-inner-container {
    left: 37px;
}
}








