

/* checkbox day-night */
.day-night-container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 34px;
  cursor: pointer;
}

.moon-icon{
  width: 35px;
  height: 35px;
  position: absolute;
}

.opcaity-moon{
  opacity: 0;
}
.toggle-switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label-switch {
  position: absolute;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
}

.input-switch {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  transition: 0.3s;
  border: .7px solid rgb(var(--black));
}


.input-switch:checked ~ .slider {
  background-color: rgb(var(--white));

}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -27px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px rgb(var(--white));
  background-color: rgb(var(--black));
  transition: 0.3s;
}

.input-switch:checked ~ .slider::before {
  transform: translateX(25px);
  background-color: rgb(var(--black));
  width: 25px;
  height: 25px;
  box-shadow: none;
}

/* checkkbox day night */


/* checkbox day-night */
/* .day-night-container {
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 999;
}
.toggle-switch {
  position: relative;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label-switch {
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: rgb(var(--black));
  border-radius: 50px;
  cursor: pointer;
}

.input-switch {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  transition: 0.3s;
  border: .7px solid rgb(var(--black));
}


.input-switch:checked ~ .slider {
  background-color: rgb(var(--white));

}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -27px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px rgb(var(--white));
  background-color: rgb(var(--black));
  transition: 0.3s;
}

.input-switch:checked ~ .slider::before {
  transform: translateX(25px);
  background-color: rgb(var(--black));
  width: 25px;
  height: 25px;
  box-shadow: none;
} */

/* checkkbox day night end*/



/* BOTTOM NAVBAR */
.bottom-lateral-navbar {
  padding: 20px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  animation: expandContentBottomToTop 1.1s forwards .6s;
}


.bottom-lateral-navbar-padding {
 padding: 20px;
}

.expand-element{
  height: 100%;
  /* padding: 20px; */
  padding: 20px;
  transform-origin: bottom;
  transform: scaleY(0);
  animation: expandContentBottomToTop 1.3s forwards;

}

@keyframes expandContentBottomToTop {
  from {
    transform: translateY(110%);
    border-top: 1px solid rgba(var(--black), .3);
    
  }
  to {
    transform: translateY(0%);
    border-top: 1px solid rgba(var(--black), .3);
  }
}


.shrink-element {
  padding: 20px;
  height: 100%;
  animation: shrinkContentTopToBottom 1.3s forwards;
}

@keyframes shrinkContentTopToBottom {
  from {
    transform: translateY(0);
    border-top: 1px solid rgba(var(--black), .3);
  }
  to {
    transform: translateY(130%);
    border-top: 1px solid rgba(var(--black), .3);
  }
}



.fade-out-element {
  
  animation: fadeOutContent .3s forwards;
}



@keyframes fadeOutContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.display-bottom{
  display: block;
  height: 100%;
  overflow-y: hidden; /* Only show vertical scrollbar when necessary */
  overflow-x: hidden;
} 

/* Style the scrollbar track */
.display-bottom::-webkit-scrollbar {
  width: 5px; /* Adjust the scrollbar width */
  border-radius: 6px !important;
}

/* Style the scrollbar thumb (the draggable part) */
.display-bottom::-webkit-scrollbar-thumb {
  background-color: rgb(
    var(--white)
  ); /* Set the background color of the thumb */
  border-radius: 6px !important; /* Add rounded corners to the thumb */
  border: 1px solid rgb(var(--black));
}

/* Style the scrollbar track on hover */
.display-bottom::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change the color on hover */
}

/* Style the scrollbar track (the area behind the thumb) */
.display-bottom::-webkit-scrollbar-track {
  background-color: #ddd; /* Set the background color of the track */
  border-radius: 6px !important;
  padding: 2px;
}

/* Style the scrollbar corner (the intersection of vertical and horizontal scrollbars) */
.display-bottom::-webkit-scrollbar-corner {
  background-color: transparent; /* Set the corner's background color */
}

.hide-bottom{
  display: none;
}




/* close nav button */

.button-close-nav{
  color: rgb(var(--black)) !important;
  position: fixed;
  right: 30px;
  top: 30px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  animation: closeNavButton .3s forwards .5s;
  z-index: 99999
}

@keyframes closeNavButton {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}


/* footer */
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75vw;
  height: 65px;
  padding: 0 30px;
  z-index: 999999;
  background-color: rgb(var(--white));
  text-transform: uppercase;
  font-size: .9rem;
}


.footer-container-expand{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  padding: 0 30px;
  z-index: 999999;
  background-color: rgb(var(--white));
  text-transform: uppercase;
  font-size: .9rem;
  animation: expandFooterContainer 1.5s forwards;
}

@keyframes expandFooterContainer {
  from {
    width: 75vw;
  }
  to{
    width: 100vw;
  }
}


.footer-container-shrink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75vw;
  height: 65px;
  padding: 0 30px;
  z-index: 999999;
  background-color: rgb(var(--white));
  text-transform: uppercase;
  font-size: .9rem;
  animation: shrinkFooterContainer 1.5s forwards;
}

@keyframes shrinkFooterContainer {
  from {
    width: 100vw;
  }
  to{
    width: 75vw;
  }
}

.footer-block{
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: .7;
}

.footer-icon{

}

.footer-light{
  width: 10px;
  height: 10px;
  background-color: #00FF29;
  border-radius: 50%;
}



/* counter loader */
.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(var(--black));
  pointer-events: none;
}

.counter{
  padding-top: 8px;
  padding-left: 5px;
  position: fixed;
  left: 50px;
  bottom: 75px;
  display: flex;
  height: 76px;
  font-size: 90px;
  clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
  font-weight: 400;
  overflow: hidden;
}

.counter-1, .counter-2, .counter-3{
  position: relative;
  top: -15px;
}

.num1offset1{
  position: relative;
  right: -5px;
}

.num1offset2{
position: relative;
right: -10px;
}

.loaders-containers{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0px;
}

.loader{
 
  width: 450px;
  height: 20px;
  
  display: flex;
  background: rgb(80, 80, 80); 
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.loader-lastname{
  width: 250px;
  height: 20px;
  display: flex;
  background: rgb(80, 80, 80); 
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.loader-1, .loader-2, .loader-3, .loader-4{
  position: relative;
  background: rgb(var(--black));
  width: 150px;
}
.loader-5{
  position: relative;
  background: rgb(var(--black));
  width: 100px;
}
.loader-1{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.loader-5{

}

.bar{
  height: 20px;
}

.website-content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-counter{
  position: relative;
  width: max-content;
  height: max-content;
}

.h1{
  display: flex;
  font-size: 80px;
}

.header-counter .h1 h1{
  text-align: center;
  position: relative;
  top: 80px;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.header-revealer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.header-revealer::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 110%;
  background: rgb(var(--black));
}



@media (max-width: 480px) {
  
  .counter{
    left: 35px;
    bottom: 35px;
    height: 56px;
    font-size: 60px;
  }
  
  
  .loaders-containers{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0px;
  }
  
  
  .loader{
   
    width: 150px;
    height: 10px;
    
    display: flex;
    background: rgb(80, 80, 80); 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .loader-lastname{
    width:75px;
    height: 10px;
    display: flex;
    background: rgb(80, 80, 80); 
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .loader-1, .loader-2, .loader-3,  .loader-4{
    position: relative;
    background: rgb(var(--black));
    width: 50px;
  }
  .loader-5{
    position: relative;
    background: rgb(var(--black));
    width: 37.5px;
  }
 

  
  .bar{
    height: 10px;
    /* border: 6px solid rgb(var(--black)); */
  }
  
  .website-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-counter{
    position: relative;
    width: max-content;
    height: max-content;
  }
  
  .h1{
    display: flex;
    font-size: 80px;
  }
  
  .header-counter .h1 h1{
    text-align: center;
    position: relative;
    top: 80px;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .header-revealer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .header-revealer::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 110%;
    background: rgb(var(--black));
  }
}