

/* checkbox day-night */
.day-night-container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 34px;
  cursor: pointer;
}

.moon-icon{
  width: 35px;
  height: 35px;
  position: absolute;
}

.opcaity-moon{
  opacity: 0;
}
.toggle-switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label-switch {
  position: absolute;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
}

.input-switch {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  transition: 0.3s;
  border: .7px solid rgb(var(--black));
}


.input-switch:checked ~ .slider {
  background-color: rgb(var(--white));

}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -27px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px rgb(var(--white));
  background-color: rgb(var(--black));
  transition: 0.3s;
}

.input-switch:checked ~ .slider::before {
  transform: translateX(25px);
  background-color: rgb(var(--black));
  width: 25px;
  height: 25px;
  box-shadow: none;
}

/* checkkbox day night */


/* checkbox day-night */
/* .day-night-container {
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 999;
}
.toggle-switch {
  position: relative;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label-switch {
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: rgb(var(--black));
  border-radius: 50px;
  cursor: pointer;
}

.input-switch {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  transition: 0.3s;
  border: .7px solid rgb(var(--black));
}


.input-switch:checked ~ .slider {
  background-color: rgb(var(--white));

}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -27px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px rgb(var(--white));
  background-color: rgb(var(--black));
  transition: 0.3s;
}

.input-switch:checked ~ .slider::before {
  transform: translateX(25px);
  background-color: rgb(var(--black));
  width: 25px;
  height: 25px;
  box-shadow: none;
} */

/* checkkbox day night end*/



/* BOTTOM NAVBAR */
.bottom-lateral-navbar {
  height: 100%;
  padding: 20px;
  transform-origin: bottom;
  transform: scaleY(0);
  animation: expandContentBottomToTop 1.3s forwards .7s;
}

.expand-element{
  height: 100%;
  padding: 20px;
  transform-origin: bottom;
  transform: scaleY(0);
  animation: expandContentBottomToTop 1.3s forwards;

}

@keyframes expandContentBottomToTop {
  from {
    transform: translateY(110%);
    border-top: 1px solid rgb(var(--black));
  }
  to {
    transform: translateY(0%);
    border-top: 1px solid rgb(var(--black));
  }
}


.shrink-element {
  height: 100%;
  padding: 20px;
  animation: shrinkContentTopToBottom 1.3s forwards;
}

@keyframes shrinkContentTopToBottom {
  from {
    transform: translateY(0);
    border-top: 1px solid rgb(var(--black));
  }
  to {
    transform: translateY(130%);
    border-top: 1px solid rgb(var(--black));
  }
}



.fade-out-element {
  
  animation: fadeOutContent .3s forwards;
}



@keyframes fadeOutContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.display-bottom{
  display: block;
} 

.hide-bottom{
  display: none;
}




/* close nav button */

.button-close-nav{
  color: rgb(var(--black)) !important;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  animation: closeNavButton .3s forwards .5s;
  z-index: 99999
}

@keyframes closeNavButton {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}
