.interview{
    padding: 30px;
    margin-top: 150px;
}

.projects-list-container{
    margin-top: 37px;
    margin-bottom: 50px;
    padding: 0 30px;
    z-index: 0; 
    position: relative;
}

.single-project-container{
    border-top: 1px solid rgb(var(--black));
    cursor: none;
    position: relative;
    overflow: visible;
}

.single-project-container .project-number{
    font-size: 1.2rem;
    font-weight: 100;
    margin-right: 10px;
}

.single-project-container .porject-title-container{
    overflow: hidden;
    height: 100%;
    padding: 55px 0;
    pointer-events: none;
}
.single-project-container .project-title{
    display: flex;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 6rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: .8;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.single-project-container .project-image{
    width: 400px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    z-index: 9999999;
    top: -100px;
    right: 0;
    opacity: 0; 
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.4); 
    pointer-events: none;
}


.project-resume{
    /* margin-top: 5px !important; */
    color: rgb(var(--black)) !important;
    letter-spacing: .6px;
    text-transform: uppercase;
    font-size: .9rem;
    border: 1px solid rgb(var(--red));
    /* padding: 4px 8px 5px 8px; */
    border-radius: 5px;
    /* background: linear-gradient(to bottom, rgba(var(--dark), 0.8), rgba(var(--dark), 1)); /* Adjust the transparency and direction */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    box-shadow: 0 0 0 2px rgba(var(--red), 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
}


/* FULLPROJECTS DISPLAY */

.project-container{
    padding: 30px;
    padding-bottom: 150px;
    position: relative;
}
.project-body{
    padding: 30px;
    position: relative;
}

/* PROJECTS MAIN TITLE */
.projects-main-title-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.project-main-title{
    display: flex;
    align-items: flex-start;
    padding: 5px 0;
    gap: 20px;
    text-transform: uppercase;
     white-space: nowrap;
     font-family: "Bebas Neue", sans-serif;
     overflow: hidden;
     background-color: rgb(var(--white));
}
.project-title-h3{
    font-size: 126px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 7rem;
}
.underline-title{
    /* text-decoration: underline;
    text-decoration-color: rgb(var(--red));
    text-decoration-thickness: 3px;
    text-underline-offset: 8px; */
    border: 1px solid rgb(var(--red));
    border-radius: 80%;
}

.project-main-title .mini-title{
    padding-top: 5px;
    max-width: 170px;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing:1px;
}
.projects-main-title-one{
    padding-top: 22px;
}
.projects-main-title-two{
    margin-left: auto;
}
.projects-main-title-three{

}
.projects-main-title-four{

}

.project-main-title-image{
    width: 95px;
    height: 95px;
    margin: auto 0;
}

/* PROJECTS IMAGE DISPLAY */
.project-image-display-container{
    margin: 40px 0 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.project-images{
    width: 100%;
}
.project-image{
    /* transform: scale(1); */
    /* width: 480px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.4); 
    opacity: 0;
    cursor: pointer; */
    border-radius: 5px;
    opacity: 0;
    cursor: pointer;
}

.project-image-wrapper{
    width: 530px;
    height: 290px;
    position: relative;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}
.project-image-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--white));
    z-index: 2;
    border-radius: 0px;
}
.project-image-left, .project-image-right{
    width: 480px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.4); 
   
}

.project-image-center{
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: none;
     /* Ensures this image is on top of the others */
}



.projects-images-title{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(var(--red));
    font-family: "Voyage";
    font-size: 200px;
    z-index: 8;
    opacity: 0;
    pointer-events: none;
}

.display-resumes-bar-container{
   display: flex;
   align-items: center;
   margin-bottom:60px;
   flex-direction: column;
   gap: 30px;
}

.collectives-scroll-bar-resumes{
    margin-top: -50px;
    height: 0px;
    width: 2px;
    background-color: rgb(var(--black));
    position: relative;
}

.collectives-scroll-bar-resumes::before{
    content: "";
    position: absolute;
    bottom: -1.5px;
    left: 7.5px;
    transform: rotate(30deg);
    width: 2px;
    height: 0px;
    background-color: rgb(var(--black));
}
.collectives-scroll-bar-resumes::after{
    content: "";
    position: absolute;
    bottom: -1.5px;
    left: -7.5px;
    transform: rotate(-30deg);
    width: 2px;
    height: 0px;
    background-color: rgb(var(--black));
}


.title{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(var(--red));
    font-family: "Voyage";
    font-size: 200px;  
}

/* projects paragraphs */


.projects-paragraphs-container{
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
}
.projects-paragraphs-title{
    text-align: left;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(var(--red));
    margin-bottom: 30px;
}

.project-paragraph{
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
}
.project-paragraph-two{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.gsap-char {
    position: relative;
    display: inline; 
}

/* PINNED GALLERY */
.pinned-gallery-container{
    --pr-color: #fff;
    --second-color: #0a0a0a;
    --color-1-1: #BE2518;
    --color-1-2: #ff6b4f;
    --cubicz: cubic-bezier(.9, 0, .1, 1);
    --fz-big: 60px;
    --pd: 50px;
    /* font-weight: 800;
    font-feature-settings: 'pnum' on, 'lnum' on; */
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    margin-top: -150px;
   
}
.content{
    width: 100%;
    height: auto;
}


.work{
    display: flex;
    gap: 20px;
}

.work_left{
    position: relative;
    width: 44%;
    z-index: 2;
}

.work_text{
    margin: auto;
    width: 100%;
}

.work_info{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work_left-b1{

}

.work_num{
    display: block;
    line-height: .9;
    text-align: right;
    font-size: 18px;
    transform: skewX(-20deg);
    color: var(--black);
}

.title-gallery{
    font-size: 2rem;
    color: rgb(var(--red));
    text-transform: uppercase;
    opacity: .85;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.title-gallery .stroke{
    font-size: 1.5rem;
    font-weight: normal;
    display: block;
    text-transform: capitalize;
    color: rgb(var(--black));
    opacity: .7;
    
    /* color: transparent;
    -webkit-text-stroke: 1px var(--pr-color); */
}

.resume-gallery{
    margin: 20px 0 40px 0;
    font-weight: 100;
    font-size: 1.1rem;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto; 
    word-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}


.stroke{

}

.work_link{
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 8px 0;
    font-size: .9rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(var(--black));
    letter-spacing: 1px;
    border: 1px solid rgb(var(--red));
    border-radius: 30px;
    transition: .3s;
    background: none;
    cursor: pointer;
}
.work_link:hover{
    background: rgb(var(--red));;
    color: rgb(var(--white));;
    letter-spacing: 2.5px;
}


.work_right{
    width: 66%;
    height: auto;
}

.work_right-b1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
}

.work_photo{
    width: 100%;
    height: 400px;
    position: relative;
}

.work_photo-item{
    display: flex;
    flex-direction: column;
   align-items: flex-end;
   justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.work_photo-item img{
    display: block;
    width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.4); 
}


/* vVIDEOPLAYER */


.video-player-container{
    position: fixed; /* Fixed positioning */
    top: 0%; /* Position at 50% from the top */
    left: 0%; /* Position at 50% from the left */
    /* Shift the element back by half its own width and height to center it */
    z-index: 9999999999998;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    /* transform: translate(-50%, -50%); */
    background-color: rgba(var(--white), .22);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-player{
    height: auto;
    width: 800px;
    border-radius: 8px;
}

.loader-video-js{
    font-size: 70px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 800;
    color: rgb(var(--black));
  }



  /* OBJECTIVES AND CHALLENGES */
  .projects-objectives-container{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /* san francisco */
  }
  .objectives-block{
    display: flex;
    font-feature-settings: 'pnum' on, 'lnum' on;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    border-bottom: .5px solid rgb(var(--black));
    overflow: hidden;
    padding: 15px 0;


  }
  .objectives-number{
    display: flex;
    font-size: 200px;
    font-weight: 100 !important;
  }
  .objectives-subtitle{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: 48px;
    color: rgb(var(--red));
  }
  .objectives-paragraph{
    margin-top: auto;
    padding-bottom: 38px;
    font-weight: 100;
    font-size: 1.2rem;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto; 
  }


  /* BOTTOM PROJECTS */
  .bottom-projects-container-title{
    margin-bottom: 15px;
  }

