

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}




.mouse-tracker {
  background-color: rgb(var(--black));;
  height: 70px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  animation: rotate 20s infinite;
  opacity: 0.8;
  cursor: crosshair;
  mix-blend-mode: difference; 
  z-index: 100; /* Adjust as needed to ensure it's above other elements */
}


