* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: 41, 41, 43;
  --white: 255, 255, 255;
  --red: 229, 43, 80;
  --orange: 251, 140, 0;
  --yellow: 253, 216, 53;
  --green: 67, 160, 71;
  --blue: 30, 136, 229;
  --indigo: 57, 73, 171;
  --black2: 40, 41, 44;
  --aquamarine:  #bffce8;
  --mediumpurple: #9370d8;


  --theme-color: var(--black2);
}


body {
  font-family: 'Poppins', sans-serif;
  /* margin-bottom: 50px; */
  background-color: rgb(var(--white));
  color: rgb(var(--black));
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
}
Link{
    text-decoration: none;
}


@keyframes expandContent {
  from {
    width: 0%;
    padding: 0;
  }
  to{
    width: 75%;
  }
}

.body-content-container {
  margin-right: auto;
  margin-top: 100px;
  z-index: 99999;
  position: relative;
  padding: 20px;
  background-color: rgb(var(--white));
  height: calc(100vh - 100px);
  animation: expandContent 1.3s forwards;
  width: 75%;
  overflow: hidden; 
}






