@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #29292b;
  --white: #ffffff;
  --red: 229, 57, 53;
  --orange: 251, 140, 0;
  --yellow: 253, 216, 53;
  --green: 67, 160, 71;
  --blue: 30, 136, 229;
  --indigo: 57, 73, 171;
  --black2: 40, 41, 44;
  --aquamarine:  #bffce8;
  --mediumpurple: #9370d8

  --theme-color: var(--black2);
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Caprasimo', cursive;
  height: 100vh;
  /* margin-bottom: 50px; */
  background-color: var(--white);
  color: var(--black);
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}


